{{#each projects as |project| }}
<div class="row mb-4 project">
    <div class="col-md-5">
        <a href="/project/{{project.id}}">{{project.name}}</a>
        <a>{{project.comment}}</a>
        <p>Posted by {{project.user.name}} on {{format_date project.date_created}}</p>
    </div>
</div>
{{/each}}